$icon-font-path: "../fonts/";

// bower:
// endbower
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700|Oswald:700");

@import "./variables";
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
    font-family: 'Muli', sans-serif;
}

.page-content {
    padding: 0 15px;
    margin: 0 auto;

    @media (min-width: $screen-sm-min) {
        max-width: 693px;
        padding: 0;
    }

    @media (min-width: $screen-md-min) {
        max-width: 960px;
    }

    @media (min-width: $screen-lg-min) {
        max-width: 1200px;
    }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    height: 93px;


    @media screen and (max-width: 768px){
      padding: 0;
      margin-left: -15px;
      margin-right: -15px;
      height: auto;
      margin-bottom: 5px;
    }

    .page-content {
        position: relative;

        @media screen and (max-width: 768px){
          padding: 0;
        }
    }

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }

    .navbar-brand {
        margin-top: 20px;

        @media (max-width: $screen-xs-max) {
          padding: 0;
          width: 250px;
          float: left;
          display: block;
          position: absolute;
          left: 50%;
          margin-left: -125px;
          top: 0;
          margin-top: 0;
        }

        @media (min-width: $screen-sm-min) {
            max-width: 680px;
        }

        > img {
            width: 285px;

            @media (max-width: $screen-sm-max) {
              width: auto;
              height: 32px;
              position: absolute;
              top: 50%;
              margin-top: -16px;
            }

            @media (min-width: $screen-sm-min) {
                width: 200px;
            }

            @media (min-width: $screen-md-min) {
                width: 250px;
            }

            @media (min-width: $screen-lg-min) {
                width: 285px;
            }
        }
    }


    .navbar-collapse{
      @media screen and (max-width: $screen-xs-max){
        position: fixed;
        z-index: 10;
        bottom: 0;
        top: 56px;
        background: #fff;

        .nav-pills {
          > li{
            border: none;
            border-bottom: 1px dashed #e6e6e6;
            a {
            text-align: left;
            font-size: 22px;
            }
          }
        }
      }
    }

    .nav-pills {
        margin-top: 25px;
        position: static;
        height: 68px;


        @media screen and (max-width: 768px){
          margin-top: 0;
        }

        > li {
            margin-left: -3px;
            border-right: 1px solid #f3f3f3;
            border-image: linear-gradient(to top, #dbdbdb 20%, rgba(255, 255, 255, 0)) 1 100% 1 100%;
            max-width: 186px;
            position: static;
            height: 100%;

            @media (max-width: $screen-xs-max) {
                width: 100%;
                max-width: none;
            }

            @media (min-width: $screen-sm-min) {
                max-width: 110px;
            }

            @media (min-width: $screen-md-min) {
                max-width: 150px;
            }

            @media (min-width: $screen-lg-min) {
                max-width: 186px;
            }

            &:first-child {
                border-left: 1px solid #f3f3f3;
            }

            a {
                background: none;
                padding: 20px 50px;
                color: #7f5a9d;
                display: block;

                text-align: center;
                line-height: 1em;
                height: 100%;

                @media (min-width: $screen-sm-min) {
                    padding: 20px 8px;
                }

                &:hover, &:active, &:focus {
                    background-color: #f2f2f2;
                    color: #7f5a9d;
                }
            }

            .drop-menu {
                display: none;
                position: absolute;
                top: 92px;
                left: 0;
                height: 400px;
                width: 100%;
                bottom: 10px;
                background-color: #f2f2f2;
                z-index: 100;
                border-radius: 0 0 5px 5px;
                box-shadow: 0 2px 3px -1px #000;
                overflow: hidden;
                padding: 25px 25px;

                @media screen and (max-width: 768px){
                  top: 100%;
                  overflow: scroll;
                }

                .blue-sash {
                    &:before {
                        content: ' ';
                        position: absolute;
                        background-color: $athena-purple;
                        width: 100%;
                        height: 200%;
                        border-radius: 0 50% 50% 0;
                        top: -65px;
                        left: -10px;
                        z-index: -1;
                    }
                }

                ul{
                  padding-left: 0;
                }

                h2 {
                    color: #fff;
                    font-size: 22px;
                    font-weight: lighter;
                }

                img {
                    margin-left: 50px;
                }

                a.cta {
                    background-color: $athena-green;
                    color: #fff;
                    margin-right: 15px;
                    white-space: normal;

                    @media screen and (max-width: 992px){
                      padding: 10px 15px;
                      line-height: 1.2em;
                    }

                    i {
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                }

                ul {
                    list-style: none;

                    li {
                        border-bottom: 1px solid $athena-green;

                        a {
                            color: #799A31;
                            text-decoration: none;
                            text-align: left;
                            padding: 20px 25px 15px 0;
                            position: relative;

                            i {
                                border: 1px solid #799A31;
                                border-radius: 11px;
                                width: 22px;
                                height: 22px;
                                position: absolute;
                                top: 50%;
                                right: 0;
                                margin-top: -11px;
                                line-height: 20px;
                                padding: 0 8px;
                                font-size: 0.7em;
                            }
                        }
                    }
                }
            }

            &:hover {
                a {
                    background-color: #f2f2f2;
                }

                .drop-menu {
                    display: block;
                }
            }
        }
    }
}

/* Custom page footer */
.footer {
    padding: 30px 0 20px;
    color: #fff;
    position: relative;
    background-color: $athena-purple;
    overflow: auto;
    text-align: center;
    margin: 0 -15px;

    ul {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 12px;
        opacity: 0.7;

        li {
            float: left;
            border-right: 1px solid #fff;

            &:last-child {
                border: none;
            }

            a {
                color: #fff;
                display: block;
                padding: 0 10px;
                text-decoration: none;
            }

            &:first-child {
                a {
                    padding-left: 0;
                }
            }
        }
    }

    .footer-logo {
        max-width: 180px;

        @media (min-width: $screen-sm-min) {
            max-width: 137px;
        }

        @media (min-width: $screen-md-min) {
            width: 150px;
        }

        @media (min-width: $screen-lg-min) {
            width: 180px;
        }
    }

    .f-logo-text {
        font-size: 20px;
        color: #fbcd00;
        text-transform: uppercase;
        font-weight: bold;
    }

    .f-copyright {
        text-align: left;
        clear: left;
        font-size: 12px;
        opacity: 0.4;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.container-fluid .jumbotron {
    padding: 0;
    margin: 0 -15px;
    position: relative;
    background: url(/images/careersheroimg.jpg) 0 0 no-repeat;
    background-size: cover;
    height: 500px;

    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }

    .sticky-banner {
        background-color: #3f036a;
        opacity: 0.7;
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        left: 0;
        color: #fff;

        h1 {
            font-size: 40px;
            font-weight: 200;
        }

        p {
            font-size: 14px;
        }
    }
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */

#instant-data {
    padding: 70px 0 40px;

    .carousel {
        width: 100%;
        height: 400px;
        margin-bottom: 60px;

        .carousel-indicators {
            li {
                background-color: #fff;
                border: 1px solid #53197f;
                margin: 2px 15px;
                height: 13px;
                width: 13px;

                &.active {
                    background-color: #53197f;
                    height: 16px;
                    width: 16px;
                }
            }
        }

        .carousel-inner {
            max-width: 1200px;
            margin: auto;

            .item {
                height: 500px;
                background-color: #fff;

                .data-wrap {
                    .slide-text {
                        h2 {
                            font-size: 40px;
                            font-weight: 200;
                            color: #002680;
                        }

                        p {
                            font-size: 14px;
                            color: #002680;
                        }

                        a.btn {
                            background-color: #074993;
                            font-size: 14px;
                            color: #fff;

                            &:hover {
                                background-color: darken(#074993, 5%);
                            }

                            i {
                                vertical-align: middle;
                                margin-left: 10px;
                            }
                        }
                    }
                }

                .slide-img {
                    padding: 2em;

                    img {
                        max-width: 420px;
                    }
                }
            }
        }
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;

    p + h4 {
        margin-top: 28px;
    }
}

#community-grid {
    margin-bottom: 100px;

    .grid-wrap {
        h2 {
            color: $athena-green;
        }

        ul.grid {
            list-style: none;

            li {
                float: left;
                padding: 0.5px;

                @media (min-width: $screen-sm-min) {
                    max-width: 680px;
                }

                @media (min-width: $screen-md-min) {
                    max-width: 960px;
                }

                @media (min-width: $screen-lg-min) {
                    width: 25%;

                    &:nth-child(4n+1) {
                        clear: left;
                    }
                }

                .profile {
                    position: relative;

                    .department {
                        font-weight: 700;
                    }

                    .vcard {
                        > span {
                            display: block;

                            &.name {
                                font-size: 1.1em;
                                font-weight: 600;
                            }
                        }
                    }

                    .profile-info {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(138, 166, 89, 0.8);
                        color: #fff;
                        text-align: left;
                        padding: 0.5em 2.2em;

                        .video-btn {
                            margin-top: 20px;
                            color: #fff;
                            display: block;

                            .play-icon {
                                background-color: $athena-dark-green;
                                width: 60px;
                                height: 60px;
                                display: inline-block;
                                position: relative;
                                vertical-align: middle;
                                text-align: center;
                                padding: 7px;
                                line-height: 20px;
                                border-radius: 30px;

                                i {
                                    border: 2px solid #fff;
                                    width: 45px;
                                    border-radius: 23px;
                                    text-align: center;
                                    height: 45px;
                                    font-size: 1.7em;
                                    padding: 9px 15px;
                                }
                            }

                            .play-text {
                                background-color: $athena-dark-green;
                                padding: 10px 15px 10px 20px;
                                margin-left: -15px;
                                vertical-align: middle;
                                border-radius: 5px;
                            }
                        }
                    }
                }

                &:hover {
                    .profile-info {
                        opacity: 1;

                        a:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}
